src/components/homepage.html
src/components/homepage_.js
src/components/HomePage_original2.js
src/components/HomePage_original3.js
src/components/HomePage_original4.js
src/TRASH/code/HomePage_origina2.js
src/TRASH/code/HomePage_origina4.js
src/assets/commonstyle_original2.css
node_modules/
package-lock.json/
src/pages/HomePage/ccSketch2.js
