@media screen and (max-width: 1000px) {
    .blue-top {
        display: block;
        padding-left: 0;
    }

    .search-n-checkmark {
        padding-left: 10vw;
    }

    .flex-this {
        align-items: flex-end;
    }

    .huge-title-2 {
        font-size: 13vw;
    }
}