@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');


.breadcrumbs {
    /* max-width: 1200px; */
    /* margin: 20px auto; */
    /* text-align: center; */
    font-family: 'Sulphur Point', sans-serif;
    /* font-size: 30px; */
    font-size: 2rem;
    background-color: #F8FAF9;
}
.breadcrumbs > *{
    display: inline-block;
    margin-right: 10px;
  }
  .breadcrumbs .crumb:after {
    content: '/';
    margin-left: 10px;
    color: #ddd;
  }
  .breadcrumbs .crumb:last-child:after {
    display: none;
  }
  .breadcrumbs .crumb a {
    color: #124838;
    text-decoration: none;
  }