@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap');
/* font-family: 'Roboto Mono', monospace; */

@import url('https://fonts.googleapis.com/css2?family=Cutive&family=Cutive+Mono&display=swap');
/* font-family: 'Cutive Mono', monospace; */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap');
/* font-family: 'Work Sans', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@1&display=swap');
/* font-family: 'Xanh Mono', monospace; */

/* for quote marks */
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
/* font-family: 'Yatra One', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400;1,500&display=swap');
/* font-family: 'Lora', serif; */

@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');
/* font-family: 'Gelasio', serif; */

@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&display=swap');
/* font-family: 'Klee One', cursive; ASTA NU */

@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');
/* font-family: 'Mynerve', cursive; NU PREA*/

/* TEMPORARILY */
/* TEMPORARILY */
/* TEMPORARILY */
/* TEMPORARILY */
/* TEMPORARILY */
/* TEMPORARILY */

/* GENERAL */

/* * {
    border: 1px solid red;
} */


.toberelative {
    position: relative;
}

/* SPACING */

/* .margin-from-header {
    margin: 20px 0;
} */

.wide-padding {
    padding: 7vh 17vw;
}

.narrow-padding {
    padding: 5px 3%;
}

.main-1 {
    /* background-color: #F8FAF9; */
    background-color: #ffffff;
    /* padding: 5px 3%; */
    /* margin: 20px 0; */
    font-family: 'Work Sans', sans-serif;
}

.card {
    background-color: #F8FAF9;
    border-radius: 45px;
    padding: 5px 3%;
    margin: 20px 70px;
    font-family: 'Work Sans', sans-serif;
}

.regular-text {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5rem;
    /* padding: 5vh 10vw; */
    color: #124838;
}

p.regular-text-important {
    font-size: 3rem;
}

.regular-text-small {
    font-family: 'Sulphur Point', sans-serif;
    font-size: 1.2rem;
    padding: 2vh 10vw 15vh 10vw;
    color: #124838;
    text-align: right;
}

.big-word {
    font-size: 10rem;
    font-family: 'Sulphur Point', sans-serif;
}

.underline {
    /* prea complicat. problema: nu stiam sa subliniez cu linie neintrerupta. se intrerupea sub literele gen p, g, q, j */
    /* text-decoration: underline;
    text-decoration-thickness: 20px;
    text-decoration-color: aquamarine;
    text-underline-offset: -0.1rem;
    text-decoration-line: underline; */

    /* background-color: rgb(208, 245, 233); */

    border-bottom: 10px solid rgb(208, 245, 233);
    /* display: inline-block;
    line-height: 0.1; */
}

.text-about p,
.text-utile p,
.text-contact p,
.text-donaldson p {
    font-size: 1.5rem;
    color: #124838;
}

/* Donaldson CSS page */

/* era ID pt titlurile din Donaldson */
#h {
    font-size: 3rem;
    font-family: 'Xanh Mono', monospace;
    padding: 0 0 30px 0;
    text-decoration: underline;
    text-underline-offset: 20px;
}

.tabel-donaldson-compresoare {
    color: #124838;
}

table.tabel-donaldson-compresoare {
    border-radius: 40px;
    background-color: white;
    margin: 0;
    /* border-collapse: collapse; */
}


.tabel-donaldson-compresoare td:first-child {
    border-left: none;
}

.th-tr1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5rem;
    color: #124838;
    /* font-weight: 500; */
    border-top: none;
    border-bottom: 1px solid #124838;
    padding: 0 0 0 30px;
}

/* #tds-top {
    padding-top: 30px;
} */

.tds {
    font-size: 1rem;
    margin: 0;
    padding: 5px 30px
}

.tds:hover {
    background-color: #f0f7f3;
    /* border: 0.5px solid #124838; */
    border-radius: 20px;
}

/* doar orientativ */
/* .tds {
    padding: 5px 15px 2px 50px;
    border: 1px solid #124838;
}

.tds:hover {
    border-radius: 30px;
    background-color: rgb(228, 243, 255);
} */

/* GardnerDenver CSS page */

.text-gardnerdenver p {
    font-size: 1.2rem;
    color: #124838;
}

.text-gardnerdenver {
    padding: 20vh 5vw 30vh 5vw;
    /* transform: skew(1turn, -10deg); */
    text-align: justify;
    font-family: 'Roboto Mono', monospace;
    background-color: #e8f1ef;
    border-radius: 45px;
    margin-top: 3vh;
}

.quote-marks-opening {
    font-family: 'Yatra One', cursive;
    font-size: 20rem;
    color: #124838;
    position: absolute;
}



table.table-GD-c {
    font-family: 'Roboto Mono', monospace;
    width: 100%;
    border-collapse: collapse;
    color: #124838;
    margin: 0;
    padding: 50px;
}

.td-gd-c {
    padding: 5px 15px 2px 50px;
    border: 1px solid #124838;
}

.td-gd-c:hover {
    border-radius: 30px;
    /* background-color: rgb(176, 221, 255); */
    background-color: rgb(228, 243, 255);
    /* background-color: azure; */
}

.quote-author {
    text-align: right;
}

.signature {
    right: 5vw;
    bottom: 2vh;
    /* margin-left: 0; */
    position: absolute;
    width: 30%;
    color: #124838;
}

/* Contact CSS */

/* * {
    border: 1px solid red;
} */

/* let's try imitate default css */
.main-1-custom1 {
    background-color: #F8FAF9;
    /* padding: 5px 3%; */
    margin: 20px 0;
    font-family: 'Work Sans', sans-serif;
}

.regular-text-custom1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5rem;
    /* padding: 5vh 10vw; */
    color: #124838;
}

.regular-text-important-custom {
    font-size: 3rem;
    padding-left: 740px;
    padding-top: 5vh;
}



.inline-flex-container {
    display: inline-flex;
    width: 100%;
    /* padding: 0 50px; */
    /* AICI AM FACUT ULTIMA MODIFICARE SI NU E BINE */
    border-top: 1px solid #124838;
}

.padding-top {
    padding-top: 50px;
}

.inline-flex {
    display: inline-flex;
    width: 100%;
    /* padding: 0 50px; */
    /* AICI AM FACUT ULTIMA MODIFICARE SI NU E BINE */
    border-top: 1px solid #124838;
}
.contact-info {
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    margin-bottom: 100px;
    margin-left: 300px;

    
}

.contact-info div:last-child {
    /* border: 1px solid black; */
    margin-left: 50px;
}

.underline-simple {
    text-decoration: underline;
    text-underline-offset: 7px;
}

/* nu stiu cum sa selectez doar formul ca sa-l trimit in dreapta paginii */
/* .inline-flex.form-container div:last-child {
    justify-content: flex-end;
    border: 1px solid red;
} */

.form-container {
    width: 100%;
    margin-left: 100px;
    margin-right: 100px;
    /* border-left: 1px solid #124838; */
    display: flex;
    justify-content: flex-end;
    /* justify-content: center; */
    border-right: 1px solid #124838;
}

.form-column1 {
    display: flex;
    flex-direction: column;
}

/* after you deselect text box */
input, select, textarea{
    color: rgb(250, 238, 183);
    text-align: left;

}

form input,
form textarea {
    width: 500px;
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    /* padding: 15px 5px 2px 5px; */
    /* padding: 15px; */
    border: none;
    /* background-color: rgb(235, 235, 235); */
    /* background: #f0f7f3; */
    background: rgb(8, 53, 168);
    /* background: #F8FAF9; */
    margin: 7px;
    /* border-bottom: 1px solid #124838; */
    border-radius: 0px;
}

.input1 {
    height: 3px;
}

.input2 {
    height: 8px;
}

.input1 {
    height: 10px;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #d0e2d9;
    opacity: 1;
    /* Firefox */

    /* dar aliniaza doar textarea pe mijloc sau nu stiu, ma mai gandesc */
    text-align: center;
}

/* background-color: lightgreen;
border-color: rgb(42, 236, 42); */
/* input:valid {
    color: rgb(253, 84, 149);
} */

/* nu merge */
::placeholder:hover {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    text-decoration: wavy;
}

/* when you select text box to write inside */
textarea:focus, input:focus {
    color: rgb(250, 209, 27);
    background-color: rgb(80, 110, 187);
    border: none;
    text-align: left;
}

textarea {
    /* text-align: center; */

    /* nu merge pe verticala ca nu e intr-un box propriu-zis */
    vertical-align: middle;
}

/* button v1 */
/* button {
    background-color: #f0f7f3;
    height: 50px;
    width: 120px;
    border-radius: 45px;
    border: 0.5px solid #124838;
    color: #124838;
    font-family: 'Sulphur Point', sans-serif;
    font-size: 1.2rem;
}



button:hover {
    background-color: #c2e3f0;
    text-decoration: underline;
    text-underline-offset: 7px;
} */

.button {
    display: flex;
    justify-content: center;
}

/* button v2 */
button {
    /* background-color: rgb(156, 235, 208); */
    background-color: #e6f0eb;
    height: 25px;
    width: 100px;
    /* border-radius: 45px; */
    /* border: 0.5px solid #124838; */
    border: none;
    color: #124838;
    font-family: 'Sulphur Point', sans-serif;
    font-size: 1rem;
    margin: 7px;
}

button:hover {
    background-color: #cee4d9;
    text-decoration: underline;
    text-underline-offset: 7px;
}


.map-container {
    padding-top: 100px;
    border-top: 1px solid #124838;
}

/* nu merge */
.form input:hover {
    background-color: #3adb80;
    border-radius: 20px;
}










/* test */

.containertest {
    background-color: bisque;
    width: 100%;
    height: 700px;
    padding-bottom: 400px;
    /* overflow:scroll; */
}

.tobesticky {
    position: sticky;
    font-size: 2rem;
    color: red;
    right: 5vw;
    bottom: 0.5vh;
    top: 0.5vh;
    z-index: 2;
}

.imgtest {
    height: 100%;
}

.imgtest2 {
    height: 20%;
    position: sticky;
    right: 5vw;
    bottom: 2vh;
    z-index: 2;
}

.imm {
    position: absolute;
    left: 0;
    top: 150px;
    width: 200px;
    height: auto;
    z-index: 1;
}

.simpleimg {
    width: 300px;
    height: auto;
}

.temptable {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    border-collapse: collapse;
}

/* si mai mult test */

summary {
  display: inline-block;
  cursor: pointer;
}

.details summary {
  background-color: crimson;
}

.details,
.details1 {
  font-weight: normal;
  /* background-color: rgba(230, 245, 22, 0.904); */
}

.details1 {
  padding-left: 30px;
}