@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap');
/* font-family: 'Roboto Mono', monospace; */

@import url('https://fonts.googleapis.com/css2?family=Cutive&family=Cutive+Mono&display=swap');
/* font-family: 'Cutive Mono', monospace; */
/* font-family: 'Cutive', serif; imi place mai putin*/

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap');
/* font-family: 'Work Sans', sans-serif; */

/* TEMPORARILY */
/* TEMPORARILY */
/* TEMPORARILY */
/* TEMPORARILY */
/* TEMPORARILY */
/* TEMPORARILY */

.card {
    background-color: #F8FAF9;
    border-radius: 45px;
    padding: 5px 20%;
    margin: 20px 70px;
    font-family: 'Work Sans', sans-serif;
}

.text-about p,
.text-utile p,
.text-contact p,
.text-donaldson p,
.text-gardnerdenver p {
    font-size: 1.5rem;
    color: #124838;
    font-family: 'Work Sans', sans-serif;
}