@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap');
/* font-family: 'Roboto Mono', monospace; */

@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@1&display=swap');
/* font-family: 'Xanh Mono', monospace; */

@import url('https://fonts.googleapis.com/css2?family=Cutive&family=Cutive+Mono&display=swap');
/* font-family: 'Cutive Mono', monospace; */