@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap');
/* font-family: 'Roboto Mono', monospace; */

/* .card {
    font-family: 'Roboto Mono', monospace;
    color: white;
} */

.DonaldsonAndGD {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    width: 100%;
    /* width: 100vw; era */
    height: 50vh;
}
/* testing */
/* background-color: pink; */
/* border: 1px solid pink; */
/* align-items: center; nu mai are rost pentru ca nu se mai aplica dupa ce creez child div container of logo */
/* border-bottom: 1px solid white; */

.page1Donaldson {
    width: 30vw;
}

.page2GardnerDenver {
    width: 25vw;
}

/* .containsPage1 {
    padding-top: 100px;
    padding-bottom: 100px;
    border-right: 1px solid rgb(255, 255, 255);
}*/

/* .containsPage2 {
    border-bottom: 1px solid black;
}  */
/* padding-top: 100px;
padding-bottom: 100px;
border-right: 3px solid rgb(102, 240, 60); */

.page1Donaldson-container,
.page2GardnerDenver-container {
    width: 50vw;
    align-items: center; /* aliniaza central pe verticala */
    justify-content: center; /* aliniaza central pe orizontala */
}

.page1Donaldson-container {
    background-color: #0082ca;
    height: 100%;
    display: flex;
    /* border-right: 2px solid red; */
    /* margin-top: 30px; */
    /* padding-top: 50px; */
}

.page2GardnerDenver-container {
    background-color: white;
    height: 100%;
    display: flex;
    width: 50vw;
}

