@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap');
/* font-family: 'Roboto Mono', monospace; */

@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@1&display=swap');
/* font-family: 'Xanh Mono', monospace; */

@import url('https://fonts.googleapis.com/css2?family=Cutive&family=Cutive+Mono&display=swap');
/* font-family: 'Cutive Mono', monospace; */

.card {
    font-family: 'Roboto Mono', monospace;
    color: white;
}

/* .tabel-donaldson-compresoare {
    color: #124838;
}

table {
    border-radius: 40px;
    background-color: white;
    margin: 0;
}

tr, td {
    border-collapse: collapse;
    margin: 0;
}

td:first-child {
    border-left: none;
}

#h  {
    font-family: 'Xanh Mono', monospace;
    font-size: 3rem;
    font-family: 'Xanh Mono', monospace;
    padding: 0 0 30px 0;
    text-decoration: underline;
    text-underline-offset: 20px;
    
}

.th-tr1 {
    font-family: 'Xanh Mono', monospace;
    font-size: 1.5rem;
    color: #124838;
    font-weight: 500;
    border-top: none;
    padding: 20px 0 50px 30px;
}

.tds {
    font-size: 1rem;
    margin: 0;
    padding: 5px 30px
}

.tds:hover {
    background-color: #f0f7f3;
    border: 0.5px solid #124838;
    border-radius: 20px;
} */