@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap');
/* font-family: 'Roboto Mono', monospace; */

.card {
    font-family: 'Roboto Mono', monospace;
    color: white;
}

table.table-compresoare1{
 /* border: 1px solid #124838; */
 font-family: 'Roboto Mono', monospace;
 width: 100%;
 border-collapse: collapse;
 color: #124838;
}

td {
    padding: 5px 15px 2px 50px;
    border: 1px solid #124838;
}

td:hover {
    /* border: 1px solid #124838; */
    border-radius: 30px;
    /* background-color: rgb(176, 221, 255); */
    background-color: rgb(228, 243, 255);
    text-decoration:dashed;
}

.underline {
    text-decoration: underline;
    text-decoration-thickness: 10px;
    text-decoration-color: aquamarine ;
    text-underline-offset: 0.1rem;
}