@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');
/* font-family: 'Sulphur Point', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');
/* font-family: 'Xanh Mono', monospace; */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap');
/* font-family: 'Roboto Mono', monospace; */

.header {
    text-align: center;
    font-family: 'Sulphur Point', sans-serif;
    font-weight: 700;
    font-size: 22px;
    font-kerning: 10px;
    letter-spacing: 2px;
    padding-right: 100px;
    display: flex;
    justify-content: end;
    align-items: center;

    position: fixed;
    top: 10px;
    right: 0;
    /* temporary disable z-index to solve sliding pane which I need it to come in front of everything */
    z-index: 5;
}

.visited-link {
    /* temporary distance */

    /* color: #F8FAF9; */
    text-decoration: none;
}