@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');
/* font-family: 'Sulphur Point', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');
/* font-family: 'Xanh Mono', monospace; */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap');
/* font-family: 'Roboto Mono', monospace; */

body {
    margin: 0px;
}

.header {
    text-align: center;
    font-family: 'Sulphur Point', sans-serif;
    font-weight: 700;
    /* font-size: 3vh; */
    font-size: 22px;
    font-kerning: 10px;
    background-color: #07163f;
    letter-spacing: 2px;
    
    padding-bottom: 2vh;
    /* margin-right: 0px; */
    /* padding-right: 0px; */
    /* margin-bottom: 7px; */
    /* padding-bottom: 40px; */
    /* border-bottom: 0.5px solid white; */

    display: flex;
    justify-content: center;

    position: sticky;
    top: 0;
    z-index: 5;
}

.visited-link {
    /* temporary distance */
    margin-right: 50px;
    color: #F8FAF9;
    text-decoration: none;
}

/* .contact-info-in-header{
    text-decoration: none;
    padding-left: 10vw;
} */