/* .active-link {
    text-decoration: underline;
  } */


@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');
/* font-family: 'Xanh Mono', monospace; */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap');
/* font-family: 'Roboto Mono', monospace; */

.logo-home-page {
    height: 20vh;
}

body {
    margin: 0px;
    /* padding: ; */
}

.header {
    text-align: center;
    font-family: 'Roboto Mono', monospace;

    /* da dar eu vreau sa subliniez doar linkul clickuit */
    /* text-decoration: underline; */
    /* text-underline-offset: 13px; */

    /* margin-right: 0px; */
    /* padding-right: 0px; */
    /* margin-bottom: 7px; */
    padding-bottom: 40px;
    /* border-bottom: 0.5px solid white; */

}

.visited-link {
    /* temporary distance */
    margin-right: 50px;

    /* astea nu merg */
    /* color: rgb(255, 48, 48);
    text-decoration: underline; */
}
/* 
.active {
    color: rgb(168, 0, 28);
} */