.logo-home-page {
    height: 20vh;
    /* background-color: pink; */
}

.logo-home-page-container {
    /* background-color: rgb(211, 76, 99); */
    background-color: rgb(7, 22, 63);
    width: 100vw;
    display: flex;
    justify-content: center;
}

.quote1-in-banner,
.quote2-in-banner {
    font-family: 'Roboto Mono', monospace;
    /* font-family: 'Work Sans', sans-serif; */
    /* font-family: 'Gelasio', serif; */
    /* font-family: 'Cutive Mono', monospace; */
/* font-family: 'Xanh Mono', monospace; */
    /* font-weight: 600; */
    font-style: italic;
    font-size: 0.8rem;
    position: absolute;
    /* color: #d1e0d9; */
    color: #b4c7be;
    text-decoration: none;
}

.quote1-in-banner {
    width: 25%;
    right: 6vw;
    /* top: 70px; */
    top: 9vh;
}

.quote2-in-banner {
    width: 25%;
    left: 6vw;
    /* top: 80x; */
    top: 10vh;
}