.logo-home-page-text-margin-left {
    margin-left: 10px;
}

.logo-home-page-container {
    box-sizing: border-box;
    /* width: 100vw; */
    height: 31px;
    /* height: 100px; */
    /* display: inline-block; */
    /* padding: 7px 30px; */
    padding: 1px 50px;
    z-index: 101;
    margin: 0;
    position: fixed;
    /* top: 0; */
    left: 0;
    top: 0;
    background-color: #fcfcf5;
    /* clip-path: polygon(0 0, 95% 0, 100% 100%, 5% 100%); */
    /* width: 400px; */
    /* transform: rotate(-90deg); */
    /* border-bottom: 1px solid #8f8f8f; */
    border-bottom: 1px solid #d1d1d1;
    
}

.logo-home-page {
    height: 26px;
    z-index: 200;
}

.right-corner {
    position: fixed;

}